@media (max-width: 1200px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .title-up {
        font-size: 34px;
    }

    .very-easy-text {

    }

    .team__item2 {
        left: 36%;
    }

    .team__item4 {
        right: 2%;
    }

    .project__wrapper {
        justify-content: center;
        flex-wrap: wrap;
    }

    .project__wrapper-item {
        margin: 50px 15px;
        flex-wrap: wrap;

    }

    .we__block {
        width: 542px;
    }

    .wrapper__title-up {
        font-size: 28px;
    }
}

@media (max-width: 1024px) {
    .title-up {
        font-size: 34px;
    }

    .wrapper__title-up {
        font-size: 27px;
        line-height: 46px;
    }

    .wrapper__title-up {
        font-size: 25px;
        line-height: 44px;
    }

    .team__item1 {
        width: 86%;
    }

    .team__item2 {
        left: 30%;
        width: 62%;
        top: 51%;
    }

    .team__item3 {
        left: -5%;
        width: 10%;
    }

    .team__item4 {
        right: 9%;
        top: 47%;
        width: 10%;
    }

    .project__title-up {
        font-weight: 700;
    }

    .we__block {
        width: 46%;
    }

    .img__avatar-g {
        margin: 0 auto;
    }

    .we__title {
        font-size: 26px;
    }

    .we__btn1 {
        padding: 10px 30px 10px 30px;
    }

    .we__btn2 {
        padding: 10px 40px 10px 40px;
    }
}

@media (max-width: 992px) {
    .hero__block {
        width: 558px;
    }

    .title-up {
        font-size: 32px;
    }

    .wrapper__title-up {
        font-size: 23px
    }

    .hero__btn {
        font-size: 13px;
        padding: 10px 30px;
    }

    .project__title-up {
        font-size: 27px;
    }
}

@media (max-width: 768px) {
    .navbar__item {
        display: none;
    }

    .btn {
        display: none;
    }

    .hero__block {
        width: 492px;
    }

    .title-up {
        font-size: 28px;
    }

    .brand__img1 {
        width: 35%;
        margin-bottom: 30px;
    }

    .brand__img2 {
        width: 36%;
        margin-bottom: 30px;
    }

    .brand__img3 {
        width: 30%;
    }

    .brand__img4 {
        width: 30%;
    }

    .brand__img5 {
        width: 30%;
    }

    .tabs {
        display: none;
    }

    .hero__block {
        width: 401px;
    }

    .desc {
        width: 100%;
    }

    .footer {
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer__box {
        width: 34%;
        margin-bottom: 40px;
    }


}

@media (max-width: 576px) {
    .title {
        font-size: 12px;
    }

    .hero__block {
        width: 84%;
    }

    .desc {
        width: 100%;
    }

    .brand__img1 {
        width: 40%;
        margin-bottom: 30px;
    }

    .brand__img2 {
        width: 40%;
        margin-bottom: 30px;
    }

    .brand__img3 {
        width: 40%;
        margin-bottom: 30px;
    }

    .brand__img4 {
        width: 40%;
        margin-bottom: 30px;
    }

    .brand__img5 {
        width: 40%;
        position: relative;
        left: 30%;
    }

    .work {
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 50px;
    }

    .work-pic {
        width: 80%;
        margin-bottom: 50px;
    }

    .wrapper__title-up {
        font-size: 18px;
        line-height: 42px;
    }

    .wrapper {
        width: 73%;
    }

    .team__work {
        flex-direction: column;
        text-align: center;
    }

    .team__wrapper {
        align-items: center;
        width: 67%;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }

    .team__item1 {
        width: 54%;
        position: relative;
        left: -12%;
    }

    .team__item2 {
        left: 35%;
        width: 41%;
        top: 8%;
    }

    .team__item4 {
        right: 25%;
        top: 33%;
        width: 6%;
    }

    .team__item3 {
        left: 7%;
        width: 7%;
    }

    .project__title-up {
        width: 87%;
    }

    .wrapper-item__card {
        width: 400px;
    }

    .project__wrapper__title {
        font-weight: 500;
    }

    .card-canvas2::after {
        width: 316px;
        left: -54%;
    }

    .started__title2 {
        font-weight: 500;
    }

    .testimonial__p {
        font-weight: 500;
        font-size: 21px;
        line-height: 35px;
    }

    .slick-prev {
        display: none;
    }

    .slick-next {
        display: none;
    }

    .slick-dots {
        margin-top: 0;
    }

    .slick-dots button {
        width: 7px;
        height: 7px;
    }

    .we {
        padding: 20px 28px;
        flex-direction: column;
        text-align: center;
    }

    .we__title {
        font-size: 23px;
        margin-bottom: 30px;
    }

    .we__block {
        width: 100%;
    }

    .footer {
        flex-wrap: wrap-reverse;
    }

    .footer__box {
        width: 33%;
        margin: 30px 40px;
    }

}

@media (max-width: 414px) {

    .hero__block {
        width: 80%;
    }

    .title-up {
        font-weight: bold;
        font-size: 25px;
        color: #FFFFFF;
        margin-bottom: 20px;
        line-height: 46px;
    }

    desc {
        font-size: 15px;
    }

    .about__item {
        width: 75%;
    }

    .team__item1 {
        width: 80%;
        left: 0%;
    }

    .team__item2 {
        left: 35%;
        width: 56%;
        top: 17%;
    }

    .team__item3 {
        left: 14%;
        width: 10%;
        top: 71%;
    }

    .team__item4 {
        right: 16%;
        top: 11%;
        width: 10%;
    }

    .project__title-up {
        font-weight: 300;
        width: 86%;
        line-height: 43px;
    }

    .wrapper-item__card {
        width: 100%;
    }

    .card-canvas2::after {
        width: 255px;
        left: -31%;
    }

    .started__title2 {
        font-size: 22px;
        line-height: 42px;
    }

    .started__card1 {
        width: 297px;
        height: 385px;
    }

    .started__card2 {
        width: 297px;
        height: 385px;
    }

    .started__card3 {
        width: 297px;
        height: 385px;
    }

    .testimonial__p {
        font-size: 17px;
        line-height: 29px;
    }

    .slick-prev {
        display: none;
    }

    .slick-next {
        display: none;
    }

    .very-easy-text {
        font-size: 13px;
    }

    .we__title {
        font-size: 19px;
    }

}

@media (max-width: 375px) {
    .testimonial__p {
        font-size: 15px;
    }

    .we__title {
        font-size: 17px;
    }

    .we__btn1 {
        font-weight: 100;
        font-size: 12px;
    }
    .we__btn2 {
        font-weight: 100;
        font-size: 13px;
        margin: 0 10px;
    }

}

@media (max-width: 320px) {
    .card-canvas2::after {
        width: 218px;
        left: -21%;
    }
    .started__title2 {
        font-size: 17px;
        line-height: 36px;
    }
    .started__card1 {
        width: 250px;
        height: 380px;
    }
    .page__title {
        margin: 40px auto;
    }
    .started__card2 {
        width: 250px;
        height: 380px;
    }
    .started__card3 {
        width: 250px;
        height: 380px;
    }
    .testimonial__p {
        font-size: 11px;
        line-height: 26px;
    }
    .we__title {
        font-size: 14px;
        line-height: 30px;
    }
    .we__btn1 {
        margin-bottom: 20px;
        padding: 5px 15px;
    }
    .we__btn2 {
        padding: 5px 15px;
    }
    .very-easy-text {
        font-size: 11px;
        width: 100%;
    }
    .img__avatar-g {
        width: 40%;
    }
    .henry {
        font-size: 14px;
    }
    .biffco{
        font-size: 12px;
    }
    .work-pic{
        width: 100%;
    }
    .brand{
        flex-direction: column;
    }
    .brand__img1{
        width: 50%;
    }
    .brand__img2{
        width: 50%;
    }
    .brand__img3{
        width: 50%;
    }
    .brand__img4{
        width: 50%;
    }
    .brand__img5{
        width: 50%;
        left: 0;
    }

}



